node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
Thumbs.db
*.pem

.env
.env*.local

*.tsbuildinfo

/ios
/android
